/* tiny reset */
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* body */
body{
  background: whitesmoke;
  font-family: sans-serif;
  border-top: 5px solid #aa8e8d;
}
/* title */