.container {
    position: relative;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    min-height: 100px;
    padding: 5px;
    word-wrap: break-word;
    width: 400px;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.container:hover {

        box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
      
}




.container_completed {
    color: rgb(247, 237, 226);
    text-decoration: line-through;
    background: red;

}

.container_uncompleted {
    background-color:  #1976d1;
    color: rgb(255, 255, 255);
}

